
.create-account {
    padding: 50px;
}

.create-account form {
    display: flex;
    flex-direction: column;
}

.create-account div {
    margin-bottom: 15px;
}

.create-account label {
    margin-bottom: 5px;
    font-weight: bold;
}

.create-account input[type="text"],
.create-account input[type="number"],
.create-account input[type="email"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    
}

.create-account button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    width: 100%;
}

.create-account button:hover {
    background-color: #0574eb;
}

/* Styles for the select dropdown */
select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

/* Dropdown focus state */
select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Disabled option style */
select option[disabled] {
    color: #888;
}

/* Optional: Style the options */
select option {
    padding: 10px;
}


/* Account Details styles */
.account-details {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.account-details p {
    margin: 10px 0;
}

.account-details button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
}

.account-details button:hover {
    background-color: #0056b3;
}

.account-list {
    padding: 50px;
}


/* General container for the cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

/* Individual card styling */
.card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h3 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #007bff;
}

.card p {
    margin: 5px 0;
    font-size: 1em;
}

.details-link {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
}

.details-link:hover {
    background-color: #0056b3;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.header-container h2{
    margin-left: 15px;;
}

.filter-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.filter-container select,
.filter-container input {
    padding: 8px 12px;
    font-size: 14px;
    height: 35px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-right: 10px;
    font-weight: bold;
}

